.flexEncabezado{ /*flex header primera section*/
	display:flex;
	flex-flow: row wrap;
	justify-content:center;
	align-content: center;
    background-image: linear-gradient(90deg, #853A01,#DE8A49); 
}

#logo{
	width: 135px;
	height: 142px;
	padding-top: 10px;
}

.direccion{
	text-align: center;
}

.flexMenu{ /*menu nav*/
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	text-decoration: none;
}

ul{ /*nav menu principal*/
	list-style-type:none;
	text-align: center;
  	padding: 0;
  	margin: 0;
    li{ /*nav menu principal*/
	    text-align: center;
	    list-style-position: inside;
        padding: 15px 15px 10px 15px;
        border: 4px solid $color-gvt;
        display: inline;  
        background-color: black;
        position:relative;
        margin: 5px;
        text-decoration: none;
    }
}    
li a:hover{ /*menu nav*/
    background-color: #ff751a;
	color: black;
    text-decoration: none; 
}

h2 a:hover {
  /*menu nav*/
  background-color: #ff800a;
  color: black;
  text-decoration: none; }